<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <title>vue-admin管理后台</title>
    <% htmlWebpackPlugin.options.externals && htmlWebpackPlugin.options.externals.css.forEach(item => { %>
    <%= `<link rel="stylesheet" type="text/css" href="${item}">
    </link>` %>
    <% }) %>
</head>
<body>
    <div id="app"></div>
    <% htmlWebpackPlugin.options.externals && htmlWebpackPlugin.options.externals.js.forEach(item => { %>
    <%= `<script src="${item}">
    </script>` %>
    <% }) %>
</body>
</html>
