.tagview{
    position: fixed;
    left: $--side-bar-width;
    right: 0;
    top: $--header-bar-height;
    height: $--tag-view-height;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    z-index: 999;
    border-top: 1px solid #eee;
    display: flex;
    align-items: center;
    padding: 0 12px;

    &.active{
        left: 64px;
    }

    .el-scrollbar{
        width: 100%;

        .el-scrollbar__wrap {
            overflow-x: hidden;
            overflow-y: hidden;
            margin: 0 !important;

            .el-scrollbar__view{
                white-space: nowrap;
            }
        }

        .is-vertical{
            width: 0 !important;
            display: none !important;
        }
    }

    .tag-item{
        position: relative;
        cursor: pointer;
        display: inline-block;
        height: 32px;
        line-height: 32px;
        border-right: 1px solid #eee;
        padding: 0 10px;

        span{
            display: inline-block;
            height: 16px;
            line-height: 16px;
            vertical-align: middle;
        }

        i{
            display: inline-block;
            height: 16px;
            width: 16px;
            line-height: 16px;
            text-align: center;
            border-radius: 50%;
            vertical-align: middle;
            margin-left: 5px;
            transition: all 0.4s;
        }

        i:hover{
            color: #fff;
            background-color: $--color-danger;
        }

        &.active{
            background-color: #f6f6f6;
            color: $--color-primary;
        }

        &.active:after{
            width: 100%;
        }
    }

    .tag-item:hover{
        background-color: #f6f6f6;
        color: $--color-primary;
    }

    .tag-item:hover:after{
        width: 100%;
    }

    .tag-item:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 2px;
        border-radius: 0;
        background-color: $--color-primary;
        transition: all .3s;
        -webkit-transition: all .3s;
    }


}