.tagview{
    position: fixed;
    left: $--side-bar-width;
    right: 0;
    top: $--header-bar-height;
    height: $--tag-view-height;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    z-index: 999;
    border-top: 1px solid #eee;
    display: flex;
    align-items: center;
    padding: 0 12px;

    &.active{
        left: 64px;
    }

    .el-scrollbar{
        width: 100%;

        .el-scrollbar__wrap {
            overflow-x: hidden;
            overflow-y: hidden;
            margin: 0 !important;

            .el-scrollbar__view{
                white-space: nowrap;
            }
        }

        .is-vertical{
            width: 0 !important;
            display: none !important;
        }
    }

    .el-tag{
        cursor: pointer;
        margin-right: 5px;
    }
}