
// 主色调
$--color-primary : #23B7E5;

// 成功
$--color-success : #27C24C;

// 错误
$--color-danger : #fa5c7c;

// 右侧导航栏宽度
$--side-bar-width : 200px;

// 顶部高度
$--header-bar-height : 50px;

// 顶部高度
$--tag-view-height : 30px;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";